<script setup lang="ts">
const emit = defineEmits<{
  updated: [item: ShoppingList, wasArchived: boolean]
  deleted: [item: ShoppingList]
}>()
const titleInput = ref()
const loading = ref(false)
const deleting = ref(false)
const dialog = ref(false)
const errorMessages = ref<Partial<ShoppingList>>({})
const modelDefaults: ShoppingList = {
  id: -1,
  title: '',
  comment: '',
  is_finished: false,
  is_important: false,
  is_archived: false,
  priority: 0,
}

const item = ref<ShoppingList>(modelDefaults)

const editMode = computed(() => item.value.id > 0)

function open() {
  dialog.value = true
  item.value = { ...modelDefaults }
  setTimeout(() => titleInput.value.focus(), 200)
}

function edit(i: ShoppingList) {
  item.value = { ...i }
  dialog.value = true
}

async function save() {
  loading.value = true
  errorMessages.value = {}
  const url = editMode.value ? `shopping-list/${item.value.id}` : `shopping-list`
  const method = editMode.value ? 'PUT' : 'POST'
  const { data, error } = await useHttp<ShoppingList>(url, {
    method,
    body: { ...item.value },
  })
  loading.value = false
  if (error.value) {
    errorMessages.value = error.value.data.errors
    return
  }
  if (data.value) {
    emit('updated', data.value, item.value.is_archived)
    dialog.value = false
  }
}

async function destroy() {
  deleting.value = true
  await useHttp(`shopping-list/${item.value.id}`, {
    method: 'DELETE',
  })
  emit('deleted', item.value)
  deleting.value = false
  dialog.value = false
}

function onTextareaKeydown(e: KeyboardEvent): void {
  if (!e.shiftKey) {
    e.preventDefault()
    save()
  }
}

defineExpose({ open, edit })
</script>

<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    transition="dialog-right-transition"
    content-class="dialog-right"
  >
    <v-form
      :disabled="item.is_finished"
      @submit.prevent="save()"
    >
      <v-btn icon :size="48" @click="dialog = false">
        <v-icon>jo-basic-cross</v-icon>
      </v-btn>
      <div class="content">
        <v-text-field
          ref="titleInput"
          v-model="item.title"
          label="Заголовок"
          :error-messages="errorMessages.title"
        />
        <v-textarea
          v-model="item.comment"
          label="Комментарий"
          no-resize
          auto-grow
          @keydown.enter="onTextareaKeydown"
        />
        <v-checkbox
          :model-value="item.priority === -1"
          label="Низкий приоритет"
          @update:model-value="v => (item.priority = v === true ? -1 : 0)"
        />
        <v-checkbox
          :model-value="item.priority === 1"
          label="Высокий приоритет"
          @update:model-value="v => (item.priority = v === true ? 1 : 0)"
        />
      </div>
      <div
        class="actions"
      >
        <v-btn
          block
          color="primary"
          type="submit"
          :loading="loading"
        >
          <template v-if="editMode">
            {{ item.is_archived ? 'Достать из архива' : 'Сохранить' }}
          </template>
          <template v-else>
            Добавить
          </template>
        </v-btn>
        <div
          v-if="editMode"
          class="btn-bottom"
        >
          <span @click="destroy()"> удалить </span>
        </div>
      </div>
    </v-form>
  </v-dialog>
</template>
