.dialog-right {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  background: white;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  &-transition {
    &-enter-from,
    &-leave-to {
      transform: translateX(100%) !important;
    }
  }
  form {
    height: 100%;
    justify-content: space-between;
    .content {
      & > div:not(:last-child) {
        margin-bottom: 30px;
      }
      padding-bottom: 50px;
    }
    .actions {
      position: sticky;
      bottom: 0;
      background: white;
      box-shadow: 0 0 10px 10px white;
      padding: 10px 0 26px;
    }
    & > .v-btn--icon:first-child {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 720px) {
  .dialog-right {
    width: 480px !important;
    right: 0;
    left: auto !important;
    padding: 36px 26px 0 !important;
    form > .v-btn--icon:first-child {
      display: none;
    }
  }
}

@media screen and (max-width: 720px) {
  .dialog-right {
    padding: 56px 26px 0 !important;
  }
}
