@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Regular.ttf');
  font-weight: 400;
  // font-display: swap;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Bold.ttf');
  font-weight: 500;
  // font-display: swap;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/AkkuratLLCyrTT-Bold.ttf');
  font-weight: bold;
  // font-display: swap;
}

// @font-face {
//   font-family: "GT Walsheim Pro";
//   src: url("/fonts/GTWalsheimPro-Regular.eot");
//   src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
//     url("/fonts/GTWalsheimPro-Regular.eot?#iefix") format("embedded-opentype"),
//     url("/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
//     url("/fonts/GTWalsheimPro-Regular.woff") format("woff"),
//     url("/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "GT Walsheim Pro";
//   src: url("/fonts/GTWalsheimPro-Medium.eot");
//   src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
//     url("/fonts/GTWalsheimPro-Medium.eot?#iefix") format("embedded-opentype"),
//     url("/fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
//     url("/fonts/GTWalsheimPro-Medium.woff") format("woff"),
//     url("/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   // font-display: swap;
// }

// @font-face {
//   font-family: "GT Walsheim Pro";
//   src: url("/fonts/GTWalsheimPro-Bold.eot");
//   src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
//     url("/fonts/GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"),
//     url("/fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
//     url("/fonts/GTWalsheimPro-Bold.woff") format("woff"),
//     url("/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   // font-display: swap;
// }
