:root {
  --app-width: 720px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 20px 5px;
  // box-shadow: 0 0 8px 8px white;
  height: 54px;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    $height: 20px;
    bottom: -$height;
    height: $height;
    background: linear-gradient(to bottom, white 0%, transparent);
  }
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  position: sticky !important;
  bottom: 0;
  box-shadow: none !important;
  border-top: 1px solid #f1f1f1 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.dialog-right {
  width: 480px !important;
  right: 0;
  left: auto !important;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  background: white;
  padding: 36px 26px !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &-transition {
    &-enter-from,
    &-leave-to {
      transform: translateX(100%) !important;
    }
  }
}

.dialog-header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 0;
  display: flex;
  justify-content: flex-end;
  & > .v-btn {
    margin-top: 8px;
    margin-right: 20px;
    background: transparent;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 54px;
    width: 100%;
    // background: #f2f4f8;
    background: white;
    box-shadow: 0 0 10px 10px white;
  }
}

.no-pointer-events {
  pointer-events: none;
}

.double-input {
  display: flex;
  & > div {
    flex: 1;
    &:first-child {
      .v-field {
        border-radius: 4px 0 0 4px !important;
        &__outline__end {
          border-right: none !important;
        }
      }
    }
    &:last-child {
      .v-field {
        border-radius: 0 4px 4px 0 !important;
        &__outline__start {
          border-left: none !important;
        }
      }
    }
  }
}

.preselects {
  display: flex;
  margin-left: 16px;
  margin-top: 4px;
  gap: 16px;
  font-size: 0.8rem;
  & > span {
    cursor: pointer;
    color: rgb(var(--v-theme-secondary));
    border-bottom: 2px solid transparent;
    transition: border-color linear 0.15s;
    &:hover {
      border-color: rgb(var(--v-theme-primary));
    }
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

form {
  & > div {
    margin-bottom: 30px;
  }
  & > button.v-btn--block {
    margin-top: 60px;
  }
}

.v-progress-circular__underlay {
  display: none;
}

// .v-btn--active {
//   background: #0086bf !important;
//   color: white !important;
// }
