:root {
  --app-width: 720px;
}

html,
body {
  overscroll-behavior-y: none;
}

main {
  flex: 1;
  padding: 20px;
  overflow: hidden;
  & > div {
    height: 100%;
  }
}

footer {
  position: sticky !important;
  bottom: 0;
  box-shadow: none !important;
  border-top: 1px solid #f1f1f1 !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.no-pointer-events {
  pointer-events: none;
}

.double-input {
  display: flex;
  & > div {
    flex: 1;
    &:first-child {
      .v-field {
        border-radius: 4px 0 0 4px !important;
        &__outline__end {
          border-right: none !important;
        }
      }
    }
    &:last-child {
      .v-field {
        border-radius: 0 4px 4px 0 !important;
        &__outline__start {
          border-left: none !important;
        }
      }
    }
  }
  &--calendar {
    & > div:first-child {
      cursor: pointer;
      .v-field,
      input {
        cursor: pointer !important;
      }
      .v-field__input {
        padding-right: 0 !important;
      }
    }
  }
}

.clickable {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all linear 0.15s;
  &:hover {
    border-color: rgb(var(--v-theme-primary));
  }
}

.presets {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    z-index: 1;
  }
  &:after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
  }
  &:before {
    left: -1px;
    background: linear-gradient(to right, white, transparent);
  }
  &__items {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4px;
    gap: 16px;
    font-size: 0.8rem;
    overflow: scroll;
    white-space: nowrap;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    @extend .clickable;
    color: rgb(var(--v-theme-secondary));
    &--active {
      color: black !important;
      border-bottom: 2px solid rgb(var(--v-theme-primary)) !important;
      pointer-events: none;
    }
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.v-progress-circular__underlay {
  display: none;
}

.dialog-content {
  background: white;
  width: 100%;
  padding: 26px !important;
  border-radius: 8px;
  & > h2:first-child {
    margin-bottom: 20px;
  }
  & > div + div {
    margin-top: 16px;
  }
  & > button {
    margin-top: 60px;
  }
}

// .v-btn--active {
//   background: #0086bf !important;
//   color: white !important;
// }

.jo-arrows-chevron-left {
  left: -2px;
}

@keyframes itemUpdated {
  from {
    background: rgba(var(--v-theme-error), 0.2);
    box-shadow: 0 0 10px 10px rgba(var(--v-theme-error), 0.2);
  }
  to {
    background: rgba(var(--v-theme-error), 0);
    box-shadow: 0 0 0 0 rgba(var(--v-theme-error), 0);
  }
}

.item-updated {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    animation-name: itemUpdated;
    animation-timing-function: linear;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    pointer-events: none;
  }
}

.v-overlay__scrim {
  transition: opacity ease-in-out 0.3s;
}
.blackout {
  .v-overlay__scrim {
    opacity: 0.95 !important;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.dimmed {
  opacity: 0.2;
  transition: opacity ease-in-out 0.5s;
  transition-delay: 0;
  &:hover {
    transition-delay: 1s;
    opacity: 1;
  }
}

.btn-bottom {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1px;
  left: 0;
  z-index: 1;
  & > span {
    color: rgb(var(--v-theme-error));
    cursor: pointer;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 0.28s;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.v-checkbox {
  label {
    margin-left: 10px;
  }
}

.v-icon {
  &.cake {
    background: url("data:image/svg+xml;utf8,<svg fill='rgb(89, 89, 89)' height='800px' width='800px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512'  xml:space='preserve'> <g> <path class='st0' d='M512,275.052c-0.038-4.608-1.333-8.486-3.276-12.005c-1.889-3.283-4.418-6.331-8.296-8.692l0.023-0.038 L281.417,115.193c-14.923-34.364-43.224-51.306-61.933-51.306c-4.357,0-9.263,1.005-14.375,2.842l-13.674-8.684l-0.068-0.038 c-7.237-4.403-15.494-5.812-24.347-5.858c-9.24,0.016-19.318,1.699-29.908,4.8c-15.867,4.67-32.863,12.592-48.989,23.63 c-16.104,11.038-31.325,25.215-43.247,42.538c-16.455,23.942-27.645,47.916-34.737,69.862C3.047,214.948,0.015,234.838,0,251.025 c0.008,2.842,0.13,5.539,0.32,8.167v164.712c0.008,19.86,16.096,35.941,35.948,35.948h435.456 c19.479-0.007,35.385-15.494,35.941-34.942l4.091-147.519h-0.038C511.802,276.614,512,275.791,512,275.052z M260.087,158.004 c0.556-6.407,3.565-11.412,6.704-11.175c3.146,0.236,5.24,5.63,4.684,12.044c-0.563,6.399-3.565,11.404-6.711,11.16 C261.618,169.797,259.531,164.411,260.087,158.004z M247.556,104.528c3.123-0.45,6.506,4.334,7.572,10.688 c1.052,6.361-0.617,11.869-3.733,12.318s-6.506-4.327-7.572-10.681C242.772,110.5,244.44,104.985,247.556,104.528z M240.09,201.898 c0.556-6.399,3.558-11.396,6.712-11.16c3.138,0.236,5.233,5.622,4.677,12.029s-3.558,11.412-6.712,11.175 C241.622,213.706,239.526,208.313,240.09,201.898z M216.803,158.012c0.563-6.414,3.565-11.411,6.711-11.167 c3.139,0.236,5.233,5.629,4.677,12.028c-0.556,6.406-3.565,11.412-6.704,11.168C218.341,169.804,216.247,164.419,216.803,158.012z M205.132,201.959c1.066,6.354-0.602,11.861-3.725,12.31c-3.116,0.449-6.506-4.327-7.564-10.68 c-1.059-6.354,0.601-11.868,3.732-12.318C200.691,190.815,204.065,195.606,205.132,201.959z M186.095,116.968 c0.61-6.407,3.649-11.389,6.795-11.137c3.131,0.259,5.195,5.659,4.602,12.066c-0.61,6.399-3.649,11.381-6.795,11.13 C187.558,128.768,185.502,123.366,186.095,116.968z M484.279,424.247c-0.19,6.795-5.751,12.203-12.554,12.203H36.268 c-6.917-0.015-12.531-5.622-12.547-12.546v-40.359h461.685L484.279,424.247z M486.412,347.23H23.874 c-0.053-0.007-0.099-0.03-0.152-0.037v-56.388h464.26L486.412,347.23z M488.462,275.204H24.552l-0.662-0.747 c-0.053-0.068-0.115-0.228-0.168-0.312v-15.434l-0.038-0.472c-0.182-2.209-0.282-4.617-0.274-7.214 c-0.016-13.247,2.574-31.019,8.997-50.848c6.414-19.845,16.629-41.799,31.758-63.807c13.301-19.38,32.254-34.821,51.459-45.219 c9.59-5.203,19.219-9.149,28.086-11.754c8.86-2.613,16.988-3.855,23.31-3.848c6.041-0.038,10.277,1.226,11.976,2.324l3.717,2.361 c-18.816,16.271-35.217,44.77-35.217,86.082c0,55.876,45.989,68.91,71.988,68.91c26,0,71.988-13.034,71.988-68.91 c0-6.239-0.488-12.09-1.188-17.75l197.819,125.64l0.373,0.609l0.046,0.145L488.462,275.204z M177.266,170.856 c-3.108,0.457-6.498-4.335-7.557-10.68c-1.066-6.361,0.61-11.868,3.726-12.318c3.116-0.457,6.506,4.326,7.572,10.68 C182.058,164.898,180.39,170.407,177.266,170.856z'/> </g> </svg>");
    background-size: cover;
  }
}

div + div {
  h3 {
    margin-top: 30px;
  }
}

h3 {
  text-align: center;
  // color: rgb(var(--v-theme-grey));
}

.edit {
  position: absolute;
  top: 0;
  right: 8px;
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px 0 15px;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 10px 10px white;
  transition: all ease-in-out 0.2s;
  .v-icon {
    transition: all ease-in-out 0.2s;
    opacity: 0;
    scale: 0.9;
    transform: translateX(-10px);
  }
  &:hover {
    opacity: 1;
    .v-icon {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
    }
  }
}
