<script setup lang="ts">
const { loading } = defineProps<{ loading?: boolean }>()
</script>

<template>
  <main>
    <v-fade-transition>
      <div
        v-if="!loading"
        key="main"
      >
        <slot />
      </div>
    </v-fade-transition>
  </main>
</template>
