<template>
  <header>
    <div>
      <slot name="left" />
    </div>
    <div class="text-grey-light">
      <slot />
    </div>
    <div>
      <slot name="right" />
    </div>
  </header>
</template>

<style lang="scss">
header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 20px 5px;
  height: 54px;
  z-index: 1;
  & > div {
    min-width: 48px;
    &:nth-child(2) {
      flex: 1;
      text-align: center;
    }
    &:first-child,
    &:last-child {
      .v-btn {
        opacity: 0.15;
        scale: 0.95;
        transition: all ease-in-out 0.2s;
        &:hover {
          opacity: 1;
          scale: 1;
        }
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    $height: 20px;
    bottom: -$height;
    height: $height;
    background: linear-gradient(to bottom, white 0%, transparent);
  }
}
</style>
