<script setup lang="ts">
import type { ManipulateType } from 'dayjs'
import { vMaska } from 'maska'

const emit = defineEmits<{
  (event: 'updated' | 'deleted', plan: Plan): void
}>()

const { $dayjs, $today } = useNuxtApp()

const modelDefaults: Plan = {
  id: -1,
  title: '',
  comment: '',
  date: $today,
  is_finished: false,
  is_important: false,
}

const timeMask = { mask: '##:##' }
const calendarDialog = ref()
const titleInput = ref()
const loading = ref(false)
const deleting = ref(false)
const dialog = ref(false)
const isEditDisabled = ref(false)
// в сб и вс показывать пресет "на следующей неделе"
// за неделю до конца месяца показывать "в следующем месяце"
const nextWeek = [0, 6].includes($dayjs().get('day'))
const nextMonth = $dayjs().endOf('month').diff($today, 'day') === 7
const errorMessages = ref<{ title?: string }>({})
const item = ref<Plan>({ ...modelDefaults })
const isEdit = computed(() => item.value.id > 0)

const presets: Array<{
  date: string
  label: string
}> = [
  { date: $today, label: 'сегодня' },
  { date: finishBy('day', true), label: 'завтра' },
  { date: finishBy('week', nextWeek), label: `${nextWeek ? 'на следующей' : 'на этой'} неделе` },
  { date: finishBy('month', nextMonth), label: `${nextMonth ? 'в следующем' : 'в этом'} месяце` },
]

function open(date: string) {
  dialog.value = true
  item.value = {
    ...modelDefaults,
    date: date === $today ? finishBy('week') : date,
  }
  setTimeout(() => titleInput.value.focus(), 200)
}

function edit(plan: Plan) {
  item.value = { ...plan }
  // первые 5 минут можно редактировать важный план
  if (plan.is_important && $dayjs().diff(plan.created_at, 'minutes') >= 5) {
    isEditDisabled.value = true
  }
  dialog.value = true
}

async function save() {
  loading.value = true
  errorMessages.value = {}
  const url = isEdit.value ? `plans/${item.value.id}` : `plans`
  const method = isEdit.value ? 'PUT' : 'POST'
  const { data, error } = await useHttp(url, {
    method,
    body: { ...item.value },
  })
  loading.value = false
  if (error.value) {
    errorMessages.value = error.value.data.errors
    return
  }
  emit('updated', data.value as Plan)
  dialog.value = false
}

async function destroy() {
  deleting.value = true
  await useHttp(`plans/${item.value.id}`, {
    method: 'DELETE',
  })
  emit('deleted', item.value)
  deleting.value = false
  dialog.value = false
}

function onTextareaKeydown(e: KeyboardEvent): void {
  if (!e.shiftKey) {
    e.preventDefault()
    save()
  }
}

function finishBy(value: ManipulateType, next: boolean = false) {
  return $dayjs()
    .add(next ? 1 : 0, value)
    .endOf(value)
    .format('YYYY-MM-DD')
}

watch(dialog, (isOpen) => {
  if (!isOpen) {
    setTimeout(() => {
      isEditDisabled.value = false
    }, 300)
  }
})

defineExpose({ open, edit })
</script>

<template>
  <CalendarDialog
    ref="calendarDialog"
    v-model="item.date"
  />
  <v-dialog
    v-model="dialog"
    fullscreen
    transition="dialog-right-transition"
    content-class="dialog-right"
  >
    <v-form
      :disabled="isEditDisabled"
      @submit.prevent="save()"
    >
      <v-btn icon :size="48" @click="dialog = false">
        <v-icon>jo-basic-cross</v-icon>
      </v-btn>
      <div class="content">
        <div class="mb-6">
          <div class="double-input double-input--calendar">
            <div @click="calendarDialog.open()">
              <v-text-field
                :model-value="$dayjs(item.date).format('dddd D MMMM')"
                readonly
                label="Дата"
                :min-width="214"
              />
            </div>
            <v-text-field
              v-model="item.time"
              v-maska:[timeMask]
              label="Время"
            />
          </div>
          <div class="presets" :class="{ disabled: isEditDisabled }">
            <div class="presets__items">
              <span
                v-for="p in presets"
                :key="p.date"
                class="presets__item"
                :class="{
                  'presets__item--active': p.date === item.date,
                }"
                @click="item.date = p.date"
              >
                {{ p.label }}
              </span>
            </div>
          </div>
        </div>
        <v-text-field
          ref="titleInput"
          v-model="item.title"
          label="Заголовок"
          :error-messages="errorMessages.title"
        />
        <v-textarea
          v-model="item.comment"
          label="Комментарий"
          no-resize
          auto-grow
          @keydown.enter="onTextareaKeydown"
        />
        <v-checkbox
          v-model="item.is_important"
          :disabled="isEditDisabled"
          label="Высокий приоритет"
        />
      </div>
      <div
        v-if="!isEditDisabled"
        class="actions"
      >
        <v-btn
          block
          color="primary"
          type="submit"
          :loading="loading"
        >
          {{ isEdit ? "Сохранить" : "Добавить" }}
        </v-btn>
        <div
          v-if="isEdit"
          class="btn-bottom"
        >
          <span @click="destroy()"> удалить </span>
        </div>
      </div>
    </v-form>
  </v-dialog>
</template>
