<script setup lang="ts">
const { items, date, isToday } = defineProps<{
  items: Plan[]
  isToday: boolean
  date: string
}>()
const emit = defineEmits<{
  (event: 'edit', plan: Plan): void
}>()
const { $dayjs, $today } = useNuxtApp()
const today = $dayjs().format('YYYY-MM-DD')
const tomorrow = $dayjs().add(1, 'day').format('YYYY-MM-DD')
const thisWeek = $dayjs().endOf('week').format('YYYY-MM-DD')
const thisWeekStart = $dayjs().startOf('week').format('YYYY-MM-DD')
const lastWeekStart = $dayjs()
  .subtract(1, 'week')
  .startOf('week')
  .format('YYYY-MM-DD')
const nextWeek = $dayjs().add(1, 'week').endOf('week').format('YYYY-MM-DD')
const thisMonth = $dayjs().endOf('month').format('YYYY-MM-DD')
const thisMonthStart = $dayjs().startOf('month').format('YYYY-MM-DD')
const nextMonth = $dayjs().add(1, 'month').endOf('month').format('YYYY-MM-DD')
// const lastMonth = $dayjs().subtract(1, "month").endOf("month").format("YYYY-MM-DD")
const days = [
  'в воскресенье',
  'в понедельник',
  'во вторник',
  'в среду',
  'в четверг',
  'в пятницу',
  'в субботу',
]
const months = [
  'январе',
  'феврале',
  'марте',
  'апреле',
  'мае',
  'июне',
  'июле',
  'августе',
  'сентябре',
  'октябре',
  'ноябре',
  'декабре',
]

function getTitleDuringWeek(date: string) {
  switch (date) {
    case today:
      return 'сегодня'
    case tomorrow:
      return 'завтра'
    case thisWeek:
      return 'на этой неделе'
    default:
      return days[Number.parseInt($dayjs(date).format('d'))]
  }
}

function getSelectedDateTitle() {
  const dateObj = $dayjs(date)
  let isPast = false
  if (date > today) {
    if (date <= thisWeek) {
      return getTitleDuringWeek(date)
    }
    if (date <= nextWeek) {
      return 'на следующей неделе'
    }
    if (date <= thisMonth) {
      return 'в этом месяце'
    }
    if (dateObj.format('MM-DD') === '12-31') {
      return `в ${date.split('-')[0]}`
    }
    if (date <= nextMonth) {
      return 'в следующем месяце'
    }
  }
  else {
    isPast = true
    if (date >= thisWeekStart) {
      return 'было на этой неделе'
    }
    if (date >= lastWeekStart) {
      return 'было на прошлой неделе'
    }
    if (date >= thisMonthStart) {
      return 'было в этом месяце'
    }
  }
  const currentYear = today.split('-')[0]
  const dateYear = dateObj.format('YYYY')
  return [
    isPast ? 'было' : '',
    'в',
    months[(Number.parseInt(dateObj.format('M'))) - 1],
    currentYear === dateYear ? '' : dateYear.slice(2),
  ].join(' ')
}

const groups = computed(() => {
  if (!isToday) {
    return [
      {
        title: getSelectedDateTitle(),
        plans: items,
      },
    ]
  }
  const result = []
  let d = today
  while (d <= thisWeek) {
    const plans = items.filter(({ date }) => date === d)
    if (plans.length) {
      result.push({
        title: getTitleDuringWeek(d),
        plans,
      })
    }
    d = $dayjs(d).add(1, 'day').format('YYYY-MM-DD')
  }
  const plans = items.filter(({ date }) => date > thisWeek)
  if (plans.length) {
    result.push({
      title: 'в этом месяце',
      plans,
    })
  }
  return result
})

function isUnfinished(plan: Plan) {
  return !plan.is_finished && plan.date < $today
}
</script>

<template>
  <div class="plan-list">
    <div
      v-for="{ title, plans } in groups"
      :key="title"
      :class="{ dimmed: isToday && title === 'в этом месяце' }"
    >
      <h3 v-if="title">
        {{ title }}
      </h3>
      <UiCheckboxItem
        v-for="item in plans"
        :id="`plan-${item.id}`"
        :key="item.id"
        :class="{
          'plan-list--unfinished': isUnfinished(item),
        }"
        :item="item"
        api-url="plans"
        @edit="emit('edit', item)"
      >
        <div
          v-if="item.time"
          class="plan-item-info-time"
        >
          {{ item.time }}
        </div>
        <div
          v-if="item.comment"
          class="plan-item-info-comment"
        >
          {{ item.comment }}
        </div>
      </UiCheckboxItem>
    </div>
  </div>
</template>

<style lang="scss">
.plan-list {
  &--unfinished {
    label {
      color: rgb(var(--v-theme-error)) !important;
    }
  }
}
</style>
