<script setup lang="ts">
import { selectItems } from '~/utils'
import { WeekdayLabel } from '~/utils/labels'

const emit = defineEmits<{
  crud: [type: UpdateType, item: HabitResource]
}>()

const modelDefaults: HabitResource = {
  id: -1,
  title: '',
  period: 'daily',
  is_important: false,
  is_finished: false,
  daily_on: [],
}

const dialog = ref(false)
const loading = ref(false)
const saving = ref(false)
const titleInput = ref()
const errorMessages = ref<{ title?: string }>({})
const item = ref<HabitResource>({ ...modelDefaults })
const isEdit = computed(() => item.value.id > 0)

function open(e?: HabitResource) {
  item.value = { ...(e ?? modelDefaults) }
  dialog.value = true
  setTimeout(() => titleInput.value.focus(), 100)
}

function toggleDays(weekday: Weekday) {
  const index = item.value.daily_on.findIndex(e => e === weekday)
  index === -1
    ? item.value.daily_on.push(weekday)
    : item.value.daily_on.splice(index, 1)
}

function onTextareaKeydown(e: KeyboardEvent) {
  if (!e.shiftKey) {
    e.preventDefault()
    save()
  }
}

function destroy() {
  useHttp(`habits/${item.value.id}`, {
    method: 'delete',
  })
  dialog.value = false
  emit('crud', 'deleted', item.value)
}

async function save() {
  saving.value = true
  if (isEdit.value) {
    useHttp(`habits/${item.value.id}`, {
      method: 'put',
      body: {
        ...item.value,
      },
    })
    emit('crud', 'updated', item.value)
  }
  else {
    const { data } = await useHttp<HabitResource>(
      `habits`,
      {
        method: 'post',
        body: {
          ...item.value,
        },
      },
    )
    emit('crud', 'created', data.value!)
  }
  dialog.value = false
  saving.value = false
}

defineExpose({ open })
</script>

<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    transition="dialog-right-transition"
    content-class="dialog-right"
  >
    <v-form @submit.prevent="save()">
      <v-btn icon :size="48" @click="dialog = false">
        <v-icon>jo-basic-cross</v-icon>
      </v-btn>
      <div class="content">
        <v-text-field
          ref="titleInput"
          v-model="item.title"
          label="Заголовок"
          :error-messages="errorMessages.title"
        />
        <v-select
          v-model="item.period"
          :items="selectItems(HabitPeriodLabel)"
          label="Периодичность"
        />
        <v-fade-transition>
          <div v-if="item.period === 'daily'" class="up-jun-seno">
            <v-btn
              v-for="(label, weekday) in WeekdayLabel"
              :key="weekday"
              :size="48"
              :color="item.daily_on.some(e => e === weekday) ? 'primary' : undefined"
              @click="toggleDays(weekday)"
            >
              {{ label }}
            </v-btn>
          </div>
        </v-fade-transition>
      </div>
      <div class="actions">
        <v-btn
          block
          color="primary"
          type="submit"
          :loading="loading"
        >
          {{ isEdit ? "Сохранить" : "Добавить" }}
        </v-btn>
        <div v-if="isEdit" class="btn-bottom">
          <span @click="destroy()"> удалить </span>
        </div>
      </div>
    </v-form>
  </v-dialog>
</template>

<style lang="scss">
.up-jun-seno {
  display: flex;
  justify-content: space-between;
}
</style>
