<script setup lang="ts">
const { items, date } = defineProps<{
  items: HabitForTodayResource[]
  date: string
}>()

const { $dayjs, $today } = useNuxtApp()
const tomorrow = $dayjs().add(1, 'day').format('YYYY-MM-DD')
const thisWeek = $dayjs(date).endOf('week').format('YYYY-MM-DD')
const yesterday = $dayjs().subtract(1, 'day').format('YYYY-MM-DD')
const days = [
  'в воскресенье',
  'в понедельник',
  'во вторник',
  'в среду',
  'в четверг',
  'в пятницу',
  'в субботу',
]

function getTitleDuringWeek(d: string) {
  if (d < $today) {
    switch (true) {
      case d === yesterday:
        return 'вчера'
      default:
        return days[Number.parseInt($dayjs(d).format('d'))]
    }
  }
  switch (true) {
    case d === tomorrow:
      return 'завтра'
    case d === date:
      return 'сегодня'
    case d === thisWeek:
      return 'на этой неделе'
    default:
      return days[Number.parseInt($dayjs(d).format('d'))]
  }
}

const groups = computed(() => {
  const result = []
  let currentDate = date
  while (currentDate <= thisWeek) {
    const habits = items.filter(e => e.date === currentDate)
    if (habits.length) {
      result.push({
        title: getTitleDuringWeek(currentDate),
        habits,
      })
    }
    currentDate = $dayjs(currentDate).add(1, 'day').format('YYYY-MM-DD')
  }
  const habits = items.filter(e => e.date > thisWeek)
  if (habits.length) {
    result.push({
      title: 'в этом месяце',
      habits,
    })
  }
  return result
})
</script>

<template>
  <div class="habit-for-today">
    <div
      v-for="{ title, habits } in groups"
      :key="title"
      :class="{ dimmed: title === 'в этом месяце' }"
    >
      <h3 v-if="title">
        {{ title }}
      </h3>
      <UiCheckboxItem
        v-for="item in habits"
        :id="`habit-${item.id}`"
        :key="`${item.id}`"
        :item="item"
        api-url="habits-for-today"
      >
        <template #default="{ isFinished }">
          <div>
            <HabitPeriod :item="item" />
          </div>
          <HabitStreak :item="item" :is-finished="isFinished" />
        </template>
      </UiCheckboxItem>
    </div>
  </div>
</template>

<style lang="scss">
.habit-for-today {
  div + div {
    h3 {
      margin-top: 30px;
    }
  }
  h3 {
    text-align: center;
    // color: rgb(var(--v-theme-grey));
  }
  .edit {
    display: none;
  }
}
</style>
