<script setup lang="ts">
const { items } = defineProps<{
  items: HabitResource[]
}>()
const emit = defineEmits<{
  edit: [item: HabitResource]
}>()
</script>

<template>
  <div class="habit-list">
    <div v-for="item in items" :id="`habit-${item.id}`" :key="item.id">
      <div>
        {{ item.title }}
      </div>
      <div>
        <HabitPeriod :item="item" />
      </div>
      <div>
        {{ formatDate(item.created_at!) }}
      </div>
      <div
        class="edit"
        @click="emit('edit', item)"
      >
        <v-icon> jo-arrows-chevron-right </v-icon>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.habit-list {
  & > div {
    overflow: hidden;
    border-bottom: 1px solid rgba(var(--v-theme-grey-light), 0.2);
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    & > div {
      &:first-child {
        width: 300px;
      }
      &:nth-child(2) {
        flex: 1;
      }
      &:nth-child(3) {
        width: 80px;
        color: rgb(var(--v-theme-grey));
      }
    }
  }
}
</style>
