<script setup lang="ts">
import { WeekdayDativeLabel, WeekdayLabel } from '~/utils/labels'

interface HasPeriod {
  period: HabitPeriod
  daily_on: Weekday[]
}

const { item } = defineProps<{
  item: HasPeriod
}>()

function getDailyLabel({ daily_on: dailyOn }: HasPeriod): string {
  switch (dailyOn.length) {
    case 7:
      return 'каждый день'
    case 5:
      if (dailyOn.every(day => [0, 1, 2, 3, 4].includes(day))) {
        return 'будни'
      }
    case 2:
      if (dailyOn.every(day => [5, 6].includes(day))) {
        return 'выходные'
      }
      return dailyOn.sort().map(e => WeekdayLabel[e]).join(' и ')
    case 1:
      return `по ${WeekdayDativeLabel[dailyOn[0]]}` // по понедельникам
    default:
      return dailyOn.sort().map(e => WeekdayLabel[e]).join(', ')
  }
}
</script>

<template>
  <span v-if="item.period === 'daily'">
    {{ getDailyLabel(item) }}
  </span>
  <span v-else>
    {{ HabitPeriodLabel[item.period] }}
  </span>
</template>
