<script setup lang="ts">
const { item, isFinished } = defineProps<{
  item: HabitForTodayResource
  isFinished: boolean
}>()
const { $dayjs } = useNuxtApp()

const currentHour = Number.parseInt($dayjs().format('H'))

const streak = computed(() =>
  Math.min(item.streak.current + (isFinished ? 1 : 0), 10),
)

const labels = [
  'Killing Spree',
  'Dominating',
  'Mega Kill',
  'Unstoppable',
  'Wicked Sick',
  'Monster Kill',
  'GODLIKE',
  'Beyond GODLIKE',
]
</script>

<template>
  <div>
    streak: {{ streak }}
  </div>
  <span v-if="streak >= 3" :class="`streak-${streak}`">
    {{ labels[streak - 3] }}
  </span>
  <span v-if="item.streak.ended && currentHour > 18" class="text-error">
    Streak of {{ item.streak.ended }} has ended
  </span>
</template>

<style scoped lang="scss">
.streak {
  &-3 {
    color: #3bae34;
  }
  &-4 {
    color: #660792;
  }
  &-5 {
    color: #fe059b;
  }
  &-6 {
    color: #fe6909;
  }
  &-7 {
    color: #aa9655;
  }
  &-8 {
    color: #a64bb6;
  }
  &-9 {
    color: #e90807;
  }
  &-10 {
    color: #f57b03;
  }
}
</style>
