<script setup lang="ts">
const { item, apiUrl } = defineProps<{
  item: Finishable
  apiUrl: string
}>()
const emit = defineEmits<{
  edit: [item: Finishable]
}>()

const isFinished = ref<boolean>(item.is_finished)

watch(
  isFinished,
  async (val) => {
    await useHttp(`${apiUrl}/${item.id}`, {
      method: 'PUT',
      body: {
        is_finished: val,
      },
    })
    await updateCounts()
  },
)
</script>

<template>
  <div
    class="checkbox-item"
    :class="{ 'checkbox-item--finished': isFinished }"
  >
    <v-checkbox v-model="isFinished" color="success">
      <template #label>
        <svg
          v-if="item.is_important"
          version="1.1"
          viewBox="0 0 508.096 508.096"
        >
          <g>
            <g>
              <path
                d="M501.925,126.048l-120-120c-4-4-8-6-12.4-6c-6.8,0-12,4.8-14.4,12.8l-5.6,18.8c-2.8,10-11.6,24.8-19.2,32.4l-97.6,97.2 c-7.6,7.6-22,16.4-32,19.6l-56.4,18.4c-6.4,2-10.8,6.4-12,11.6c-1.2,5.2,0.8,10.8,5.6,15.6l56,56.4l-120.8,120.8l-0.4,0.4 l-72,97.6c-1.2,1.6-0.8,3.6,0.4,5.2c0.8,0.8,1.6,1.2,2.8,1.2c0.8,0,1.6-0.4,2.4-0.8l97.6-72l0.4-0.4l120.8-120.8l56.4,56.8 c4,4,8.4,6.4,12.4,6.4c6.8,0,12-5.2,14.8-12.8l18.4-56.8c3.2-10,12.4-24.8,19.6-32.4l97.6-97.6c7.6-7.6,22-16.4,32.4-19.2 l18.8-5.6c6.4-2,10.8-6,12.4-11.2C508.725,136.848,506.725,130.848,501.925,126.048z"
              />
            </g>
          </g>
        </svg>
        {{ item.title }}
      </template>
    </v-checkbox>
    <div v-if="'default' in $slots" class="checkbox-item__comment">
      <slot :is-finished="isFinished" />
    </div>
    <div class="edit" @click="emit('edit', item)">
      <v-icon> jo-arrows-chevron-right </v-icon>
    </div>
  </div>
</template>

<style lang="scss">
.checkbox-item {
  $e: &;
  $transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  margin: 16px 0;
  position: relative;
  &--finished {
    label {
      color: rgb(var(--v-theme-grey));
      svg {
        fill: rgb(var(--v-theme-grey)) !important;
      }
      &:before {
        width: 100% !important;
      }
    }
  }
  &__comment {
    margin: 1px 20px 0 35px;
    color: rgb(var(--v-theme-grey));
    display: flex;
    gap: 16px;
    & > div:last-child {
      flex: 1;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .v-checkbox {
    display: flex;
    flex: initial;
    .v-icon {
      transition: $transition;
    }
    label {
      transition: $transition;
      opacity: 1;
      font-size: 1.17rem;
      position: relative;
      svg {
        transition: $transition;
        height: 14px;
        margin-right: 10px;
        left: 3px;
        position: relative;
        fill: rgb(var(--v-theme-warning));
      }
      &:before {
        transition: $transition;
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        top: 14px;
        left: 0;
        background: rgba(var(--v-theme-warning), 0.7);
        border-radius: 8px;
        z-index: 1;
      }
    }
  }
}
</style>
