<script setup lang="ts">
const { modelValue, loadEvents } = defineProps<{
  modelValue: string
  loadEvents?: boolean
}>()
const emit = defineEmits(['update:modelValue'])
const { $today } = useNuxtApp()
const dialog = ref(false)
const currentYear = new Date().getFullYear() as number
const events = ref<{
  [key: string]: number
}>({})
const monthLabels = [
  'январь',
  'февраль',
  'март',
  'апрель',
  'май',
  'июнь',
  'июль',
  'август',
  'сентябрь',
  'октябрь',
  'ноябрь',
  'декабрь',
]
function open() {
  dialog.value = true
  if (loadEvents) {
    loadEventsData()
  }
  setTimeout(
    () =>
      document
        ?.querySelector('.calendar--selected')
        ?.scrollIntoView({ block: 'center' }),
    100,
  )
}
const zeroPad = (value: number) => (`0${value}`).slice(-2)

// отступ первого дня в календаре
function firstDayOfWeek(year: number, month: number) {
  return new Date(year, month - 1, 0).getDay()
}

function daysInMonth(year: number, month: number) {
  return new Date(year, month, 0).getDate()
}

function getDate(year: number, month: number, day: number): string {
  return [year, zeroPad(month), zeroPad(day)].join('-')
}

function isToday(year: number, month: number, day: number) {
  return getDate(year, month, day) === $today
}

function isSelected(year: number, month: number, day: number) {
  return getDate(year, month, day) === modelValue
}

function onClick(year: number, month: number, day: number) {
  emit('update:modelValue', getDate(year, month, day))
  dialog.value = false
}

function onMonthClick(year: number, month: number) {
  return onClick(year, month, new Date(year, month, 0).getDate())
}

async function loadEventsData() {
  const { data } = await useHttp('plans/events', {
    method: 'GET',
  })

  events.value = data.value as any
}

defineExpose({ open })
</script>

<template>
  <v-dialog
    v-model="dialog"
    :scrim="false"
    transition="dialog-bottom-transition"
    fullscreen
  >
    <v-card class="calendar-card">
      <div class="calendar__dialog-header">
        <v-btn
          icon
          :size="48"
          @click="dialog = false"
        >
          <v-icon>jo-basic-cross</v-icon>
        </v-btn>
      </div>
      <div
        v-for="year in [currentYear, currentYear + 1]"
        :key="year"
        class="calendar__year"
      >
        <h2
          class="clickable"
          @click="onMonthClick(year, 12)"
        >
          {{ year }}
        </h2>
        <div class="calendar">
          <div
            v-for="month in 12"
            :key="month"
            class="calendar__month"
          >
            <div class="calendar__month-label">
              <span
                class="clickable text-grey-light"
                @click="onMonthClick(year, month)"
              >
                {{ monthLabels[month - 1] }}
              </span>
            </div>
            <div class="calendar__month-days">
              <div
                v-for="x in firstDayOfWeek(year, month)"
                :key="`x${x}`"
                class="no-pointer-events"
              />
              <div
                v-for="day in daysInMonth(year, month)"
                :key="day"
                :class="{
                  'calendar--today': isToday(year, month, day),
                  'calendar--selected': isSelected(year, month, day),
                  'calendar--has-events': getDate(year, month, day) in events,
                  'calendar--has-unfinished-events':
                    !!events[getDate(year, month, day)]
                    && getDate(year, month, day) < $today,
                  'calendar--has-planned-events':
                    !!events[getDate(year, month, day)]
                    && getDate(year, month, day) >= $today,
                }"
                @click="onClick(year, month, day)"
              >
                {{ day }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-card>
  </v-dialog>
</template>

<style lang="scss">
.calendar {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  color: black;
  gap: 20px 60px;
  &-card {
    align-items: center;
  }
  &--selected {
    background: rgb(var(--v-theme-on-surface));
    border-color: rgb(var(--v-theme-on-surface));
    color: white !important;
    pointer-events: none;
  }
  &--today {
    color: rgb(var(--v-theme-on-surface));
    border: 1px solid rgb(var(--v-theme-on-surface));
  }
  &--has-events {
    &:before {
      content: '';
      $size: 8px;
      height: $size;
      width: $size;
      border-radius: 50%;
      // background: rgba(var(--v-theme-grey), 0.1);
      background: #f5f5f5;
      border: 1px solid white;
      position: absolute;
      left: 30px;
      top: 2px;
    }
  }
  &--has-unfinished-events {
    &:before {
      background: rgb(var(--v-theme-error));
    }
  }
  &--has-planned-events {
    &:before {
      background: rgb(var(--v-theme-success));
    }
  }
  &__month {
    &-label {
      font-weight: bold;
      padding: 12px;
    }
    &-days {
      display: grid;
      $size: 40px;
      grid-template-columns: repeat(7, $size);
      grid-gap: 3px;
      & > div {
        height: $size;
        // width: $size;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // font-size: 12px;
        font-weight: 500;
        border-radius: 50%;
        // transition: background cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
        // transition: background linear 0.1s;
        letter-spacing: 0.0892857143em;
        text-indent: 0.0892857143em;
        position: relative;
        &:hover {
          background: rgb(var(--v-theme-on-surface-variant));
        }
        &:nth-child(7n + 6),
        &:nth-child(7n + 7) {
          color: rgb(var(--v-theme-grey));
        }
      }
    }
  }
  &__year {
    margin-bottom: 40px;
    margin-left: -16px;
    & > h2 {
      position: sticky;
      top: 18px;
      z-index: 99;
      margin-left: 10px;
      display: inline;
      color: black;
    }
  }
  &__dialog-header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    & > .v-btn {
      margin-top: 8px;
      margin-right: 20px;
      background: transparent;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 54px;
      width: 100%;
      // background: #f2f4f8;
      background: white;
      box-shadow: 0 0 10px 10px white;
    }
  }
}

@media screen and (min-width: 720px) {
  .calendar {
    grid-template-columns: 1fr 1fr;
    &__dialog-header {
      width: var(--app-width) !important;
    }
  }
}
</style>
