<script setup lang="ts">
const { items } = defineProps<{ items: Penalty[] }>()

const sum = computed(() => items.reduce((carry, { sum }) => carry + sum, 0))

defineExpose({ sum })
</script>

<template>
  <v-table v-if="items.length > 0">
    <tbody>
      <tr
        v-for="item in items"
        :key="item.title"
      >
        <td>
          {{ item.title }}
          <span
            v-if="item.cnt > 1"
            class="text-grey"
          > x {{ item.cnt }} </span>
        </td>
        <td class="text-right">
          {{ rub(item.sum) }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th
          colspan="3"
          class="text-right"
        >
          {{ rub(sum) }}
        </th>
      </tr>
    </tfoot>
  </v-table>
  <div
    v-else
    class="penalty-list-empty"
  >
    <v-icon color="primary">
      jo-file-clipboard-checked
    </v-icon>
    <h3>нет долгов</h3>
  </div>
  <slot :sum="sum" />
</template>

<style lang="scss">
.penalty-list {
  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 50px;
    .v-icon {
      font-size: 100px;
      margin-bottom: 20px;
    }
  }
}
</style>
