<script setup lang="ts">
const { $dayjs, $today } = useNuxtApp()
const date = ref($today)
const planDialog = ref()
const calendarDialog = ref()
const hideFinished = ref(!!localStorage.getItem('hideFinished'))
const items = ref<Plan[]>([])
const loading = ref(true)
const currentYear = new Date().getFullYear() as number
const isToday = computed(() => date.value === $today)
const selectedDateFormatted = computed(() => {
  const d = $dayjs(date.value)
  return d.format(d.get('year') === currentYear ? 'dddd D MMMM' : 'D MMMM YYYY')
})

async function onUpdated(p: Plan) {
  // если план за пределами месяца, переключаемся на дату плана
  // логика как в PlanController@filterToday
  if (
    p.date !== date.value
    && $dayjs(p.date).valueOf()
    > Math.max(
      $dayjs().endOf('month').valueOf(),
      $dayjs().endOf('week').valueOf(),
    )
  ) {
    itemUpdated('plan', p.id)
    date.value = p.date
    return
  }
  // const index = items.value.findIndex(({ id }) => p.id === id)
  // if (index === -1) {
  //   items.value.unshift(p)
  // }
  // else {
  //   items.value.splice(index, 1, p)
  // }
  await loadData(false)
  itemUpdated('plan', p.id)
  updateCounts()
}

function onDeleted(p: Plan) {
  const index = items.value.findIndex(({ id }) => p.id === id)
  items.value.splice(index, 1)
  updateCounts()
}

async function loadData(showLoading: boolean = true) {
  if (showLoading) {
    loading.value = true
  }
  const params = isToday.value ? { today: 1 } : { date: date.value }
  const { data } = await useHttp<ApiResponse<Plan>>(`plans`, { params })
  if (data.value) {
    items.value = data.value.data
  }
  if (showLoading) {
    loading.value = false
  }
}

const itemsFiltered = computed<Plan[]>(() => hideFinished.value
  ? items.value.filter(e => !e.is_finished)
  : items.value,
)

async function toggleFinished() {
  loading.value = true
  await nextTick(() => (hideFinished.value = !hideFinished.value))
  hideFinished.value
    ? localStorage.setItem('hideFinished', 'true')
    : localStorage.removeItem('hideFinished')
  loading.value = false
}

watch(date, () => loadData())

nextTick(loadData)
</script>

<template>
  <AppHeader>
    <template #left>
      <v-btn
        v-if="isToday"
        :size="48"
        icon="jo-basic-eye-no"
        :color="hideFinished ? 'primary' : undefined"
        @click="toggleFinished()"
      />
      <v-btn
        v-else
        :size="48"
        icon="jo-arrows-chevron-left"
        @click="date = $today"
      />
    </template>
    <span
      class="clickable"
      @click="calendarDialog.open()"
    >
      {{ selectedDateFormatted }}
    </span>
    <template #right>
      <v-btn
        :size="48"
        icon="jo-basic-plus"
        @click="() => planDialog.open(date)"
      />
    </template>
  </AppHeader>
  <AppContent :loading="loading">
    <PlanList
      v-if="itemsFiltered.length"
      :items="itemsFiltered"
      :is-today="isToday"
      :date="date"
      @edit="(plan) => planDialog.edit(plan)"
    />
    <div v-else class="no-plans">
      <div>
        <v-icon> jo-time-calendar</v-icon>
      </div>
      <!-- планов нет -->
    </div>
  </AppContent>
  <PlanDialog
    ref="planDialog"
    @updated="onUpdated"
    @deleted="onDeleted"
  />
  <CalendarDialog
    ref="calendarDialog"
    v-model="date"
    load-events
  />
</template>

<style lang="scss">
.no-plans {
  color: rgb(var(--v-theme-grey));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .v-icon {
    font-size: 10rem;
    opacity: 0.25;
    top: -30px;
  }
}
</style>
