<script setup>
const { $store } = useNuxtApp()
const form = reactive({
  email: '',
  password: '',
})

const loading = ref(false)
const errors = ref({})

const cookieToken = useCookie('token', {
  maxAge: 60 * 60 * 24 * 1000,
})
console.log(cookieToken.value)

async function submit() {
  loading.value = true
  const { data, error } = await useHttp('auth/login', {
    method: 'post',
    body: { ...form },
  })
  setTimeout(() => (loading.value = false), 300)
  if (error.value) {
    errors.value = error.value.data.errors
    return
  }
  const { user, token } = data.value
  console.log(user, token)
  cookieToken.value = token
  $store.user = user
  await navigateTo({ name: 'index' })
}

definePageMeta({
  layout: 'login',
})
</script>

<template>
  <form @submit.prevent="submit()">
    <div class="text-center mb-0">
      <img alt="" src="/logo.svg">
    </div>
    <v-text-field
      v-model="form.email"
      variant="outlined"
      label="Логин"
      :error-messages="errors.email"
    />
    <v-text-field
      v-model="form.password"
      variant="outlined"
      label="Пароль"
      type="password"
      :error-messages="errors.password"
    />
    <v-btn
      color="primary"
      :loading="loading"
      block
      type="submit"
    >
      Войти
    </v-btn>
  </form>
</template>
