<script setup lang="ts">
const loading = ref(false)
const items = ref<Pleasure[]>([])
const pleasureDialog = ref()
const pleasureUseDialog = ref()
const showHidden = ref(false)
const _items = computed(() => items.value.filter(e => e.is_hidden === showHidden.value))

async function loadData() {
  if (loading.value) {
    return
  }
  loading.value = true
  const { data } = await useHttp<ApiResponse<Pleasure>>('pleasures')
  if (data.value) {
    items.value = data.value.data
  }
  loading.value = false
}

function onUpdated(p: Pleasure) {
  const index = items.value.findIndex(({ id }) => p.id === id)
  if (index === -1) {
    items.value.unshift(p)
  }
  else {
    items.value.splice(index, 1, p)
  }
}

function onDeleted(p: Pleasure) {
  const index = items.value.findIndex(({ id }) => p.id === id)
  if (index !== -1) {
    items.value.splice(index, 1)
  }
}

async function toggleHidden() {
  loading.value = true
  await nextTick(() => (showHidden.value = !showHidden.value))
  loading.value = false
}

nextTick(loadData)
</script>

<template>
  <AppHeader>
    <template #left>
      <v-btn
        :size="48"
        icon="jo-basic-box"
        :color="showHidden ? 'primary' : undefined"
        @click="toggleHidden()"
      />
    </template>
    удовольствия
    <template #right>
      <v-btn
        :size="48"
        icon="jo-basic-plus"
        @click="() => pleasureDialog.open()"
      />
    </template>
  </AppHeader>
  <AppContent :loading="loading">
    <PleasureList
      :items="_items"
      @edit="(p) => pleasureDialog.edit(p)"
      @use="(p) => pleasureUseDialog.open(p)"
    />
  </AppContent>
  <client-only>
    <PleasureDialog
      ref="pleasureDialog"
      @updated="onUpdated"
      @deleted="onDeleted"
    />
    <PleasureUseDialog
      ref="pleasureUseDialog"
      @updated="onUpdated"
    />
  </client-only>
</template>
