<script setup lang="ts">
const { $store } = useNuxtApp()
const loading = ref(true)
const paying = ref(false)
const loggingOut = ref(false)
const items = ref<Penalty[]>([])

function logout() {
  loggingOut.value = true
  setTimeout(() => {
    useCookie('token').value = null
    $store.user = null
    navigateTo({ name: 'login' })
  }, 1000)
}

async function loadData() {
  loading.value = true
  const { data } = await useHttp<ApiResponse<Penalty>>('penalties')
  if (data.value) {
    items.value = data.value.data
  }
  loading.value = false
}

const pay = async function () {
  paying.value = true
  await useHttp('payments', {
    method: 'POST',
  })
  paying.value = false
  loadData()
}

nextTick(loadData)
</script>

<template>
  <AppHeader>
    оплата долгов
    <template #left>
      <v-btn
        :size="48"
        icon
        :loading="loggingOut"
        @click="logout()"
      >
        <v-icon style="transform: rotate(90deg)">
          jo-basic-download
        </v-icon>
      </v-btn>
    </template>
  </AppHeader>
  <AppContent :loading="loading">
    <PenaltyList :items="items">
      <template #default="{ sum }">
        <div class="mt-12">
          <v-btn
            block
            color="error"
            variant="outlined"
            :loading="paying"
            :disabled="sum === 0"
            @click="pay()"
          >
            Оплатить
            {{ rub(sum) }}
          </v-btn>
        </div>
      </template>
    </PenaltyList>
  </AppContent>
</template>
