<script setup lang="ts">
const apiUrl = 'shopping-list'
const loading = ref(true)
const showArchive = ref(false)
const items = ref<ShoppingList[]>([])
const dialog = ref()

async function loadData() {
  loading.value = true
  const { data } = await useHttp<ApiResponse<ShoppingList>>(apiUrl)
  if (data.value) {
    items.value = data.value.data
  }
  loading.value = false
}

const filteredItems = computed(() =>
  items.value.filter(e => showArchive.value ? e.is_archived : !e.is_archived),
)

function onUpdated(i: ShoppingList, wasArchived: boolean) {
  const index = items.value.findIndex(({ id }) => i.id === id)
  if (index === -1) {
    items.value.unshift(i)
  }
  else {
    items.value.splice(index, 1, i)
  }
  // вернули из архива, переключаемся на основную вкладку
  if (wasArchived) {
    showArchive.value = false
  }
  itemUpdated('shopping-list', i.id)
}

function onDeleted(i: ShoppingList) {
  const index = items.value.findIndex(({ id }) => i.id === id)
  items.value.splice(index, 1)
}

const groups = computed(() => {
  const groups: {
    normalPriority: ShoppingList[]
    lowPriority: ShoppingList[]
  } = {
    normalPriority: [],
    lowPriority: [],
  }
  for (const i of filteredItems.value) {
    if (i.priority === -1) {
      groups.lowPriority.push(i)
    }
    else {
      groups.normalPriority.push(i)
    }
  }
  return groups
})

async function toggleArchive() {
  loading.value = true
  await nextTick(() => showArchive.value = !showArchive.value)
  loading.value = false
}

nextTick(loadData)
</script>

<template>
  <AppHeader>
    <template #left>
      <v-btn
        :size="48"
        icon="jo-basic-box"
        :color="showArchive ? 'primary' : undefined"
        @click="toggleArchive()"
      />
    </template>
    <span>список покупок</span>
    <template #right>
      <v-btn
        :size="48"
        icon="jo-basic-plus"
        @click="dialog?.open"
      />
    </template>
  </AppHeader>
  <AppContent class="shopping-list" :loading="loading">
    <template v-for="(groupItems, key) in groups" :key="key">
      <div v-if="groupItems.length" :class="{ dimmed: key === 'lowPriority' }">
        <h3 v-if="key === 'lowPriority'">
          низкий приоритет
        </h3>
        <UiCheckboxItem
          v-for="item in groupItems"
          :id="`shopping-list-${item.id}`"
          :key="item.id"
          :item="item"
          :api-url="apiUrl"
          @edit="dialog?.edit"
        >
          <div v-if="item.comment">
            {{ item.comment }}
          </div>
        </UiCheckboxItem>
      </div>
    </template>
    <ShoppingListDialog
      ref="dialog"
      @updated="onUpdated"
      @deleted="onDeleted"
    />
  </AppContent>
</template>
