<script setup lang="ts">
const emit = defineEmits<{
  (event: 'updated' | 'deleted', p: Pleasure): void
}>()
const loading = ref(false)
const deleting = ref(false)
const dialog = ref(false)
const errorMessages = ref<{
  title?: string
  penalty?: string
}>({})
let item = reactive<Pleasure>({
  title: '',
  comment: '',
  penalty: null,
  is_hidden: false,
})

const open = function () {
  dialog.value = true
  item = reactive({
    title: '',
    comment: '',
    penalty: null,
    is_hidden: false,
  })
}

const edit = function (p: Pleasure) {
  item = reactive({ ...p })
  dialog.value = true
}

const storeOrUpdate = async function () {
  loading.value = true
  errorMessages.value = {}
  const url = item.id ? `pleasures/${item.id}` : `pleasures`
  const method = item.id ? 'PUT' : 'POST'
  const { data, error } = await useHttp(url, {
    method,
    body: { ...item },
  })
  loading.value = false
  if (error.value) {
    errorMessages.value = error.value.data.errors
    return
  }
  emit('updated', data.value as Pleasure)
  dialog.value = false
}

const destroy = async function () {
  deleting.value = true
  await useHttp(`pleasures/${item.id}`, {
    method: 'DELETE',
  })
  emit('deleted', item)
  deleting.value = false
  dialog.value = false
}

defineExpose({ open, edit })
</script>

<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    transition="dialog-right-transition"
    content-class="dialog-right"
  >
    <form @submit.prevent="storeOrUpdate()">
      <v-btn icon :size="48" @click="dialog = false">
        <v-icon>jo-basic-cross</v-icon>
      </v-btn>
      <div class="content">
        <v-text-field
          v-model="item.title"
          label="Заголовок"
          :error-messages="errorMessages.title"
        />
        <v-textarea
          v-model="item.comment"
          label="Комментарий"
          no-resize
          auto-grow
        />
        <div class="double-input">
          <v-text-field
            v-model="item.penalty"
            color="error"
            label="Цена"
            suffix="руб."
            type="number"
            :error-messages="errorMessages.penalty"
          />
          <v-text-field
            v-model="item.units"
            label="Единицы измерения"
            prefix="за"
          />
        </div>

        <v-text-field
          v-model="item.cooldown"
          label="Кулдаун"
          suffix="дней"
          type="number"
        />
        <v-checkbox
          v-model="item.is_hidden"
          label="Скрыть в списке"
        />
      </div>
      <div class="actions">
        <v-btn
          block
          color="primary"
          type="submit"
          :loading="loading"
        >
          {{ item.id ? "Сохранить" : "Добавить" }}
        </v-btn>
        <div
          v-if="item.id"
          class="btn-bottom"
        >
          <span @click="destroy()">удалить</span>
        </div>
      </div>
    </form>
  </v-dialog>
</template>
