<script setup lang="ts">
const props = defineProps<{
  items: Pleasure[]
}>()
const emit = defineEmits<{
  (e: 'edit' | 'use', p: Pleasure): void
}>()
const { items } = toRefs(props) // toRefs – осознанно
const sorted = computed(() =>
  [...items.value].sort((a, b) =>
    (a.last_used_at || '0') > (b.last_used_at || '0') ? -1 : 1,
  ),
)
</script>

<template>
  <div class="pleasure-list">
    <div
      v-for="item in sorted"
      :key="item.id"
      @click="emit('use', item)"
    >
      <div class="pleasure-list__title">
        <span>
          {{ item.title }}
        </span>
        <div>
          <v-icon
            v-if="item.is_streak_record"
            :size="16"
            style="top: -2px"
            class="mr-2"
          >
            jo-various-cup
          </v-icon>
          <v-icon
            v-if="item.is_free_available"
            :size="16"
            style="top: -2px"
          >
            jo-basic-flame
          </v-icon>
          <span v-else>
            {{ rub(item.penalty) }}
          </span>
        </div>
      </div>
      <div class="pleasure-list__time">
        <template v-if="item.last_used_at">
          {{ howLongAgo(item.last_used_at) }}
        </template>
        <template v-else>
          никогда
        </template>
      </div>
      <div
        class="edit"
        @click.stop="emit('edit', item)"
      >
        <v-icon color="white">
          jo-arrows-chevron-right
        </v-icon>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.pleasure-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  & > div {
    position: relative;
    padding: 20px;
    // border: 2px solid rgb(var(--v-theme-on-surface));
    border-radius: 8px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background: linear-gradient(to right, #fbd3e9, rgb(var(--v-theme-primary)));

    &:hover {
      transform: scale(1.03);
      background: linear-gradient(to right, rgb(var(--v-theme-accent)) 20%, rgb(var(--v-theme-orange)));

      .pleasure-list__time,
      .pleasure-list__title {
        color: white;
      }

      .pleasure-list__time {
        opacity: 0.75;
      }

      // border-color: rgb(var(--v-theme-orange));
    }
  }

  &__title {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__time {
    color: rgb(var(--v-theme-grey));
  }

  .edit {
    padding: 0 14px 20px 10px !important;
    right: 0 !important;
    bottom: 0 !important;
    top: auto !important;
    height: initial !important;
    background: none !important;
    box-shadow: none !important;
  }
}

@media screen and (min-width: 720px) {
  .pleasure-list {
    grid-template-columns: 1fr 1fr !important;
  }
}
</style>
