<script setup lang="ts">
const emit = defineEmits<{
  (e: 'updated', p: Pleasure): void
}>()
const { $dayjs, $today } = useNuxtApp()
const dialog = ref(false)
const loading = ref(false)
const yesterday = ref(false)
const window = ref(0)
const secondsToRead = ref(0)
let interval: NodeJS.Timeout
const item = ref<Pleasure>()

function open(p: Pleasure) {
  loading.value = false
  dialog.value = true
  window.value = 0
  item.value = p
}

function getCooldownDate(p: Pleasure) {
  return $dayjs(p.last_free_used_at).add(p.cooldown as number, 'days')
}

function whenCooldown(p: Pleasure) {
  return daysAsText(getCooldownDate(p).diff($today, 'days'))
}

const usePleasure = async function () {
  if (window.value === 0) {
    window.value = 1
    return
  }
  loading.value = true
  const { data } = await useHttp(`penalties`, {
    method: 'POST',
    body: {
      id: item.value?.id,
      yesterday: yesterday.value,
    },
  })
  emit('updated', data.value as Pleasure)
  dialog.value = false
}

watch(window, (newVal) => {
  if (newVal === 1) {
    secondsToRead.value = 30
    interval = setInterval(() => {
      secondsToRead.value--
      if (secondsToRead.value <= 0) {
        clearInterval(interval)
      }
    }, 1000)
  }
})

defineExpose({ open })
</script>

<template>
  <v-dialog
    v-model="dialog"
    :width="500"
    :persistent="secondsToRead > 0"
    :class="{ blackout: window === 1 }"
  >
    <div
      v-if="item"
      class="dialog-content"
    >
      <h2 class="d-flex align-center justify-space-between">
        {{ item.title }}
        <v-chip
          v-if="item.is_streak_record"
          variant="flat"
          color="success"
          density="comfortable"
          prepend-icon="jo-various-cup"
        >
          Рекорд
        </v-chip>
      </h2>
      <!-- <div class="use-dialog-comment">
        {{ item.comment }}
      </div> -->
      <v-window v-model="window">
        <v-window-item>
          <div class="use-dialog-info">
            <div v-if="item.current_streak !== null">
              <v-icon>jo-basic-lightning</v-icon>
              {{ daysAsText(item.current_streak, "0 дней") }}
              воздержание
            </div>
            <div v-if="item.max_streak !== null">
              <v-icon>jo-various-cup</v-icon>
              {{ daysAsText(item.max_streak, "0 дней") }}
              рекорд
            </div>
            <template v-if="item.cooldown">
              <div v-if="!item.is_free_available">
                <v-icon> jo-time-time </v-icon>
                бесплатно через {{ whenCooldown(item) }}
                <!-- {{ getCooldownDate(item).format("DD MMM в dd") }} -->
              </div>
              <div>
                <v-icon> jo-basic-drop </v-icon>
                кулдаун {{ daysAsText(item.cooldown) }}
              </div>
            </template>
            <div>
              <template v-if="item.last_used_at">
                <v-icon> jo-time-calendar-delete </v-icon>
                {{ howLongAgo(item.last_used_at) }},
                {{ $dayjs(item.last_used_at).format("dd, DD MMMM") }}
              </template>
              <template v-else>
                <v-icon> jo-time-calendar </v-icon>
                не было дела
              </template>
            </div>
          </div>
        </v-window-item>
        <v-window-item>
          <div class="use-dialog-text">
            {{ item.comment }}
          </div>
        </v-window-item>
      </v-window>

      <v-btn
        block
        :color="item.is_free_available ? 'success' : 'error'"
        variant="outlined"
        :loading="loading"
        :disabled="secondsToRead > 0"
        @click="usePleasure()"
      >
        <template v-if="secondsToRead > 0">
          <v-icon class="mr-1">
            jo-time-time
          </v-icon>
          <div
            class="d-inline-block text-left"
            style="width: 52px"
          >
            {{ $dayjs.duration(secondsToRead, "second").format("00:ss") }}
          </div>
        </template>
        <template v-else-if="item.is_free_available">
          <v-icon class="mr-1">
            jo-basic-flame
          </v-icon>
          {{ (window === 1 && item.units) || "Использовать" }} бесплатно
        </template>
        <template v-else>
          {{ (window === 1 && item.units) || "Использовать" }} за
          {{ rub(item.penalty) }}
        </template>
      </v-btn>
      <div
        v-if="window === 1 && secondsToRead === 0"
        class="btn-bottom"
      >
        <span @click="yesterday = !yesterday">
          вчера
          <v-fade-transition>
            <v-icon
              v-if="yesterday"
              style="position: absolute"
            >
              jo-basic-check-mark
            </v-icon>
          </v-fade-transition>
        </span>
      </div>
    </div>
  </v-dialog>
</template>

<style lang="scss">
.use-dialog {
  &-text {
    white-space: pre-line;
  }
  &-info {
    & > div {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
</style>
