<script setup lang="ts">
const { $dayjs, $today } = useNuxtApp()
const date = ref($today)
const loading = ref(true)
const items = ref<HabitForTodayResource[]>([])
const selectedDateFormatted = computed(() => $dayjs(date.value).format('dddd D MMMM'))

const calendarDialog = ref()

async function loadData() {
  loading.value = true
  items.value = []
  const { data } = await useHttp<HabitForTodayResource[]>(
    `habits-for-today`,
    {
      params: {
        date: date.value,
      },
    },
  )
  items.value = data.value!
  loading.value = false
}

watch(date, loadData)

nextTick(loadData)
</script>

<template>
  <AppHeader>
    <span
      class="clickable"
      @click="calendarDialog.open()"
    >
      {{ selectedDateFormatted }}
    </span>
    <template #left>
      <v-btn
        v-if="date === $today"
        :size="48"
        icon="jo-basic-text-align-left"
        :to="{ name: 'habits-list' }"
      />
      <v-btn
        v-else
        :size="48"
        icon="jo-arrows-chevron-left"
        @click="date = $today"
      />
    </template>
  </AppHeader>
  <AppContent :loading="loading">
    <HabitForTodayList :items="items" :date="date" />
  </AppContent>
  <CalendarDialog
    ref="calendarDialog"
    v-model="date"
  />
</template>
