<script setup lang="ts">
const dialog = ref()
const loading = ref(true)
const items = ref<HabitResource[]>([])

async function loadData() {
  const { data } = await useHttp<ApiResponse<HabitResource>>(
    `habits`,
  )
  items.value = data.value!.data
  loading.value = false
}

function onCrud(type: UpdateType, item: HabitResource) {
  switch (type) {
    case 'created':
      items.value.unshift(item)
      break

    case 'updated':
    case 'deleted':
      const index = items.value.findIndex(e => e.id === item.id)
      type === 'updated'
        ? items.value.splice(index, 1, item)
        : items.value.splice(index, 1)
  }
  itemUpdated('habit', item.id)
}

nextTick(loadData)
</script>

<template>
  <AppHeader>
    <template #left>
      <v-btn
        :size="48"
        icon="jo-arrows-chevron-left"
        :to="{ name: 'habits' }"
      />
    </template>
    привычки
    <template #right>
      <v-btn
        :size="48"
        icon="jo-basic-plus"
        @click="dialog?.open()"
      />
    </template>
  </AppHeader>
  <AppContent :loading="loading">
    <HabitList :items="items" @edit="dialog?.open" />
  </AppContent>
  <HabitDialog ref="dialog" @crud="onCrud" />
</template>
