<script setup lang="ts">
const router = useRouter()
const menu: MenuItem[] = [
  {
    to: '/',
    icon: 'jo-time-calendar',
    count: 'plans',
  },
  {
    to: '/habits',
    icon: 'jo-various-infinity',
    count: 'habits',
  },
  {
    to: '/shopping-list',
    icon: 'jo-shopping-cart',
    count: 'shoppingLists',
  },
  {
    to: '/pleasures',
    icon: 'jo-food-icecream',
  },
  // {
  //   to: '/profile',
  //   icon: 'jo-basic-user',
  // },
]

// cmd + 2 – на второй пункт меню
function onKeyDown(e: KeyboardEvent) {
  const key = Number(e.key)
  if (!e.metaKey || Number.isNaN(key)) {
    return
  }
  if (key > 0 && key <= menu.length) {
    router.push(menu[key - 1].to)
  }
}
onMounted(() => document.documentElement.addEventListener('keydown', onKeyDown))
onDeactivated(() =>
  document.documentElement.removeEventListener('keydown', onKeyDown),
)

nextTick(updateCounts)
</script>

<template>
  <v-bottom-navigation
    grow
    tag="footer"
    :height="60"
  >
    <v-btn
      v-for="{ to, icon, count } in menu"
      :key="to"
      :ripple="false"
      :to="to"
    >
      <v-icon
        :class="{
          'has-counts': count && counts[count],
        }"
      >
        {{ icon }}
      </v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<style lang="scss">
.has-counts {
  //$size: 8px;
  //height: $size;
  //width: $size;
  //display: inline-block;
  //background: rgb(var(--v-theme-error));
  ////background: rgb(247, 27, 71);
  //border-radius: 50%;
  //position: absolute;
}
.v-bottom-navigation {
  .v-icon {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: transparent;
      transition: background-color ease-in-out 0.2s;
      $size: 8px;
      height: $size;
      width: $size;
      border-radius: 50%;
      top: -4px;
      left: 24px;
    }
    &.has-counts:after {
      background-color: rgb(var(--v-theme-error));
    }
  }
}
</style>
