.v-btn {
  &--variant-flat,
  &--variant-text:not(&--stacked),
  &--variant-outlined {
    --v-btn-height: 60px !important;
    --v-btn-size: 1rem !important;
    border-radius: 10em !important;
    text-transform: none !important;
  }
}
